@use '../abstracts/variable' as *;

.layout {
    width: calc(100% - 160px);

    @media (min-width: 1441px) {
        & {
            width: 85%;
        }
    }

    @media (max-width: 767px) {
        & {
            width: 100%;
        }
    }
}