@mixin list-reset {
    list-style: none;
    padding-left: 0;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin font-face($family,
    $file-path,
    $weight: 400,
    $style: normal,
    $display: swap) {
    @font-face {
        font-family: #{$family};
        src: url('#{$file-path}.woff2') format('woff2');
        font-weight: $weight;
        font-style: $style;
        font-display: $display;
    }
}