@use '../abstracts/variable' as *;

.user-action {
    display: flex;
    align-items: center;
    column-gap: 4px;

    &__btn {
        cursor: pointer;
        font-size: 12px;
        line-height: 1.3;
        color: $secondary;
        display: flex;
        flex-direction: column;        
        justify-content: center;
        border: none;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        width: 52px;
        overflow: hidden;
        transition: opacity .3s ease;

        &:hover,
        &:focus {
            opacity: .8;
        }
    }

    &__icon {
        height: 24px;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__text {
        white-space: nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;
    }

    @media (max-width: 767px) {
        & {
            display: none;
        }
    }
}