$font-default: "Gibson", -apple-system, HelveticaNeue, Helvetica, Arial, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, sans-serif;
$font-size-default: 16px;
$line-height-default: 1.5;
$letter-spacing: .5px;

$black: #000;
$white: #fff;
$primary: #282828;
$secondary: #4D4D4D;
$tertiary: #949494;
$neutral-100: #F5F5F5;
$core-blue-800: #002942;
$darkgreen: #138000;